html,body{height: 100%;width: 100%;}
.navbar-nav a{
    color: #fff;
}
.navbar-nav a:hover{
    text-decoration: underline;
}
.app-nav{
    background-image: linear-gradient(40deg,#00b4c6,#0097dc);
    color:#fff;
}
.icon {
    width: 95px;
    height: 95px;
    background: #f5f5ff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 95px;
    margin: auto;text-align: center;
}
.app-body{
    background-color: #f7f8fc;
}
.app-header-text{
    color: #22292f;
}
.app-subcontent-text{
    color: #8795a1;
}
.app-get-start-btn{
    padding: 7px 20px;color: white;border-radius: 20px;
    border: 0;
    background-image: linear-gradient(90deg,#f44881,#ec454f);
    box-shadow: rgba(36, 37, 38, 0.08) 4px 4px 15px 0px;
}
.app-download-app{
    padding: 4px 20px;color: #22292f;border-radius: 20px;
    border: 0;
    background-color: #e5e5e5 !important;
}
.app-download-app:hover{
    box-sizing: border-box;
    border: 1px solid #00b4c6;
    color: #00b4c6;
}
.appscreenshort{
    max-width: 300px;height: 100px;
}
.app-get-start-btn:hover{
    background-image: linear-gradient(180deg,#f44881,#ec454f);
}
.btn-icon{
    height: 25px;width: 25px; box-sizing: border-box;padding: 3px;
    border-radius: 50%;display: inline-block;vertical-align: middle;
    margin-right: 5px;
}
.btn-icon img{
    height: 100%;width: 100%;
}
#welcome {
    align-items: center;
    justify-content: center;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.header-text-h1 {
    font-weight: 400;
    font-size: 50px;
    line-height: 80px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    color: #fff;
}
.text-badge{
    text-transform: uppercase;text-align: center;
    border-radius: 9999px;font-size: 13px;
    display: inline-block; padding-left: 1.5rem;
    padding-right: 1.5rem;padding-top: .5rem;font-weight: 700;
    padding-bottom: .5rem;line-height: 1;font-size: .63rem;
}
@media only screen and (max-width:768px){
    .app-nav{
        background-image: linear-gradient(40deg,#00b4c6,#00afca);
        color:#fff;
    }
}

@font-face {
    font-family: "app-font-1";
    src: url(mem8YaGs126MiZpBA-UFW50bbck.woff2);
}
@font-face {
    font-family: "app-font-2";
    src: url(mem8YaGs126MiZpBA-UFVZ0b.woff2);
}
@font-face {
    font-family: "app-font-3";
    src: url(mem5YaGs126MiZpBA-UNirkOUuhp.woff2);
}
@font-face {
    font-family: "app-font-4";
    src: url(mem5YaGs126MiZpBA-UN7rgOUuhp.woff2);
}
* {
    font-family: app-font-1;
}
:root {
--input-padding-x: 1.5rem;
--input-padding-y: .75rem;
}
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}
.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
.center-page{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
.app-home-placeholder{
  height: 60px;width: 60px;
}
.app-setting-placeholder{
  height: 40px;width: 40px;
}
.select2-container .select2-selection--single{
  height: 38px !important;display: block !important;
}
.select2-container{
  width: 100% !important;
}

.app-home-container{
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 200px 3fr;
  grid-template-rows: 105px auto;
  grid-template-areas: 
  "filter search" "filter cards";
}
.app-home-filter{
  grid-area: filter;
}
.app-home-search{
  grid-area: search;
}
.app-home-cards{
  grid-area: cards;
}
.app-home-filter-header{
  font-size: 18px;
}
@media only screen and (max-width: 768px){
  .app-home-container{
    grid-template-areas: "search search" "cards cards";
  }
  .app-home-filter{
    display: none;overflow: hidden;
  }
}
.border-dark{ border: 1px solid #6c757d!important}
.ui-datepicker{z-index: 9999 !important;}

.colorPickSelector {
  vertical-align: middle;display: inline-block;border-radius: 5px;
  width: 30px;border: 1px solid gray;height: 16px;cursor: pointer;
  -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;-ms-transition: all linear .2s;
  -o-transition: all linear .2s;transition: all linear .2s;
}
.paddingrange{width: 100px !important;vertical-align: middle; display: inline-block !important;}
#colorPick{width: 200px !important;}
.colorPickSelector:hover { transform: scale(1.06); }
.adv-preview-container{
  width: 200px;
  min-height: 50px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border-radius: 3px;
  height: auto;
  box-sizing: border-box;
  padding: 10px 12px
}

ul.ks-cboxtags {
  list-style: none;
}
ul.ks-cboxtags li{
display: inline;
}
ul.ks-cboxtags li label{
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

ul.ks-cboxtags li label {
  padding: 8px 12px;
  cursor: pointer;
}

ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 2px solid #1bdbf8;
  background-color: #12bbd4;
  color: #fff;
  transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
position: absolute;
opacity: 0;
}
#editordiv_root{
  width: 200px;box-sizing: border-box;min-height: 100px;border:1px solid #000000;
  background-color: #ffffff;color: #000000;overflow: hidden;
}
.filechoose{height: 0px;width: 0px;}
.wscontainer{width: 100%;background-color: lightgray;min-height: 20px;font-size: 13px;outline: none; overflow: hidden;}
.imgresize{z-index: 2000;height: 20px;width: 20px;}
#menus{padding: 5px;border: 1px solid lightgray;margin-bottom: 5px;border-radius: 3px;}

.xml-root{border-color: skyblue;}
.xml-news{ border-color: pink; }
.category { border-color: orangered; }
.xml-subcategory{ border-color: yellowgreen; }
.xml-text { border-color: darkgray; }
.xml-display { border-color: lightgray; }
.xml-tagcontainer{border-width: 2px;border-style: solid;border-radius: 3px;box-sizing: border-box;}
.xml-keyword{color: #006699!important;font-weight: bold;}
.xml-code{padding-left: 2px;padding-right: 2px;font-weight: bold;}
.xml-hand{cursor: pointer;}
.xml-hand:hover{color: goldenrod;}
.xml-line1{padding-left: 10px;}.xml-line2{padding-left: 20px;}
.xml-line3{padding-left: 30px;}.xml-line4{padding-left: 40px;}
.xml-line5{padding-left: 50px;}.xml-line6{padding-left: 60px;}
.xml-line7{padding-left: 70px;}.xml-line8{padding-left: 80px;}



label{
  user-select: none;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}
[type="checkbox"]:checked + .app-home-lable{
  color: green;font-weight: 600;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #343a40;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}